.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .login-container div {
    margin-bottom: 10px;
  }
  
  .login-container label {
    display: inline-block;
    width: 100px;
    text-align: left;
  }
  
  .login-container input {
    width: calc(100% - 110px);
    padding: 5px;
  }
  
  .login-container button {
    padding: 5px 10px;
  }
  